{% extends 'base.html' %}

{% block content %}

<!-- Header-->
    <header class="bg-dark py-5" style="background-image: linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                 <h1 class="display-4 fw-bolder">About Us</h1>
                 <p class="lead fw-normal text-white mb-0">Mango Inc - Refined Tech, Ripe Possibilities</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="center">
                    <div class="col-8"><br /><br />
                        <p style="font-size: large;" >
                            Mango Inc founded by Amshekh Labs fame Amit Shekhar is gaining tremendous popularity among
                            the tech gadget users.Be it smartphone or laptop it's creating buzz all around.
                            Mango Inc gadgets run on revolutionary Alphonso OS v1.0 which is incredibly optimized
                            and offers unmatched performance for day to day multitasking.It uses the newly discovered
                            'Li' isotope discovered on the south pole of moon. The discovered Lithium mines were
                            discovered by astronauts during the lunar mission of the country.This newly discovered
                            'Li' isotope has enabled Mango Inc to create batteries which can run for long time without
                            creating heating issues.Mango Inc gadgets provide wide range of varieties to choose from.
                            Founder, CTO & CEO of Mango Inc Amit Shekhar has told that the company has plans to bring
                            Initial Public Offering (IPO) at New York Stock Exchange in the next financial year 2024-25
                            in a press confrence.The company aims to be $1billion enterprise by 2025.
                            Mango Inc founded by Amshekh Labs fame Amit Shekhar is gaining tremendous popularity among
                            the tech gadget users.Be it smartphone or laptop it's creating buzz all around.
                            Mango Inc gadgets run on revolutionary Alphonso OS v1.0 which is incredibly optimized
                            and offers unmatched performance for day to day multitasking.It uses the newly discovered
                            'Li' isotope discovered on the south pole of moon. The discovered Lithium mines were
                            discovered by astronauts during the lunar mission of the country.This newly discovered
                            'Li' isotope has enabled Mango Inc to create batteries which can run for long time without
                            creating heating issues.Mango Inc gadgets provide wide range of varieties to choose from.
                            Founder, CTO & CEO of Mango Inc Amit Shekhar has told that the company has plans to bring
                            Initial Public Offering (IPO) at New York Stock Exchange in the next financial year 2024-25
                            in a press confrence.The company aims to be $1billion enterprise by 2025.
                        </p>
                        <br /><br />
                    </div>
                </div>
            </center>
        </div>
    </div>
{% endblock %}
