{% extends 'base.html' %}

{% block content %}

<!-- Header-->
    <header class="bg-dark py-5" style="background-image: linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                 <h1 class="display-4 fw-bolder">Login</h1>
                 <p class="lead fw-normal text-white mb-0">Login to your Account . . .  </p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="center">
                    <div class="col-8 mb-5 mb-5"><br /><br />  
                    
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                              <input type="text" class="form-control" name="username" placeholder="Enter your username">
                            </div>
                            <div class="mb-3">
                              <input type="password" class="form-control" name="password" placeholder="Enter your password">
                            </div>
                            <button type="submit" class="btn btn-primary" style="width: 150px">Login</button>
                        </form>
                        <br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </center>
        </div>
    </div>
{% endblock %}
