{% extends 'base.html' %}

{% block content %}

<!-- Header-->
    <header class="bg-dark py-5" style="background-image: linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                 <h1 class="display-4 fw-bolder">Search Products</h1>
                 <p class="lead fw-normal text-white mb-0">Search now from wide range of products from Mango Inc</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="center">
                    <div class="col-10"><br /><br />
                        <div class="card">
                            <div class="card-header">
                              Search Products
                            </div>
                            <div class="card-body">
                              <form method="POST" action="{% url 'search' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="searched" placeholder="search here . . .">
                                </div>
                                <button type="submit" class="btn btn-secondary">Search Now</button>  
                              </form>
                            </div>
                          </div>
                          <br /><br /><br />
                          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                          {% if searched %}
                            {% for product in searched %}
                            {% for product in products %}
                            {% if product.is_sale %}
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <div class="badge bg-warning text-black position-absolute" style="top: 0.5rem; right: 0.5rem">
                                        On Sale
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ product.name }}</h5>
                                            <!-- Product price-->
                                            <strike>${{ product.price }}</strike>&nbsp;
                                            ${{ product.sale_price }}
                                            <br />
                                            {{ product.description }}
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                                    </div>
                                </div>
                            </div>
    
                            {% else %}
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ product.name }}</h5>
                                            <!-- Product price-->
                                            ${{ product.price }}
                                            <br />
                                            {{ product.description }}
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                                    </div>
                                </div>
                            </div>                        
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                          {% endif %}
                          
                        </div> 
                        <br /><br /><br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </center>
        </div>
    </div>
{% endblock %}
